img{

    height: 40vh;
    width: 60vh;
}

.img1:hover{

    filter: blur(5px);

}

.img2:hover{

    filter: sepia(100%); 

}

.img3:hover{

    filter: contrast(400%);
}

.img4:hover{

    filter: grayscale(100%);
}

.img5:hover{

    filter: saturate(100%); 
    border-color: 5px solid red;
    border-style: red;

}

hr {border: 2px outset sienna;}
